{% extends "layout.twig" %}

{% block title %}{{ user.name }}{% endblock %}

{% block content %}
    <main class="main">
        <div class="container">
            <!-- Content here -->
            <div class="row justify-content-center my-5">
                <div class="col-sm-4 mr-3">
                    <h2 class="py-3">{{ user.name }}</h2>
                    <img src="{{ user.image}}" alt="" class="user-logo">
                </div>
                <div class="col-sm-6">
                    <h2 class="py-3">Данные пользователя</h2>
                    <ul>
                        <li>Имя - <span>{{ user.name }}</span></li>
                        <li>E-mail - <span>{{ user.email }}</span></li>
                        <li>Дата рождения - <span>{{ user.birthday}}  </span></li>
                        <li>Дата регистрации - <span>{{ user.createdAt}}  </span></li>
                    </ul>
                </div>


            </div>
        </div>
    </main>
{% endblock %}
